.language-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    cursor: pointer;
}

.language-icon {
    width: 26px;
    height: 20px;
    margin-right: 8px;
}

.selected-language-label {
    width: 107px;
    color: #141414;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.arrow-icon {
    color: #959595;
    padding-left: 5px;
    transition: transform 0.2s ease;
}

.dropdown-menu {
    position: absolute;
    width: 190px;
    height: auto;
    top: 100%;
    left: 0;
    margin-top: 4px;
    background-color: white;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
}

.dropdown-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
}

    .dropdown-item:last-child {
        border-bottom: none;
    }

    .dropdown-item:hover {
        background-color: #f0f0f0;
    }

    .dropdown-item input[type="radio"] {
        margin-right: 8px;
    }

    .dropdown-item label {
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }