.alert {
  align-items: flex-start;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
  max-width: 800px;
}

.alert.success {
  background-color: #edf8ed;
}

.alert.error {
  background-color: #ffdfdd;
}

.alert.info {
  background-color: #e5f1fb;
}

.alert .frame {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 8px;
  position: relative;
  width: 100%;
}

.alert .icon {
  height: 21px;
  position: relative;
  width: 21px;
  flex-shrink: 0;
}

.alert .text-wrapper {
  color: var(--colors-text-colors-text-primary);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  white-space: normal;
  overflow-wrap: break-word;
  flex: 1;
  max-height: 42px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.alert .close-icon {
  height: 9.7px;
  position: relative;
  width: 10.2px;
  cursor: pointer;
  flex-shrink: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
