.report-wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
  width: 63%;
}

.no-report{
display: flex;
height: 80dvh;
flex-direction: column;
align-items: center;
justify-content: center;
color: #000;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
}

.report-title {
  display: flex;
  justify-content: space-between;
  color: #1c1c1c;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.report-header {
  padding: 1rem 1rem 2rem;
  background: white;
  border-radius: 8px;
}

.header-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.patient-name {
  margin: 0;
  color: #1c1c1c;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.date-time {
  color: #1c1c1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.patient-meta {
  flex: 1;
}

.patient-table {
  display: flex;
  gap: 60px;
}

.table-column {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.table-header {
  color: #5a5a5a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.table-value {
  color: #1c1c1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
}

.share-btn,
.download-btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.share-btn {
  border: 1px solid #0066d4;
  background: #fff;
  display: flex;
  width: 42px;
  height: 42px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.share-btn:hover {
  background: #f0f8ff;
}

.share-icon {
  width: 16px;
  height: 16px;
  background: #0066d4;
  mask: url("@/assets/icons/share.svg") no-repeat center;
  mask-size: contain;
}

.report-container {
  padding: 20px 16px;
  border-radius: 10px;
  background: #f6faff;
}

.report-section {
  margin-bottom: 25px;
}

.report-section h3 {
  color: #1c1c1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 12px 0;
}

.report-subsection {
  margin-bottom: 15px;
  border-bottom: 1px solid #dcecff;
}

.subsection-header {
  display: flex;
  justify-content: space-between;
}

.report-subsection h4 {
  margin: 5px 0;
  color: #1c1c1c;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.report-subsection p,
.report-subsection ul,
.report-subsection input {
  color: #353535;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.report-subsection p,
.report-subsection ul {
  margin-bottom: 10px;
}

.report-subsection textarea {
  overflow: hidden;
  min-height: 40px;
  resize: none;
  white-space: pre-wrap;
  margin: 10px 0;
  width: 96%;
  height: 100%;
  opacity: 1;
  gap: 10px;
  padding: 16px;
  background: var(--Surface-white, #ffffff);
}
.report-subsection ul {
  list-style: disc;
  padding-left: 18px;
}

.report-table {
  border-collapse: collapse;
  margin-top: 10px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
}

.report-table th,
.report-table td {
  padding: 8px 12px;
  text-align: left;
  color: #353535;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.report-table td {
  border-right: 1px solid var(--Border-50, #efefef);
  border-bottom: 1px solid var(--Border-50, #efefef);
  border-left: 1px solid var(--Border-50, #efefef);
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #fff;
}

.report-table th {
  border-top: 1px solid var(--Border-50, #efefef);
  border-bottom: 1px solid var(--Border-50, #efefef);
  background: var(--Text-Highlight, #0066d4);
  color: var(--Text-inverse, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.first-th {
  border-radius: 8px 0 0 0;
}

.last-th {
  border-radius: 0 8px 0 0;
}

.edit-btn {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--Border-50, #efefef);
}

.edit-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.edit-actions {
  display: flex;
  gap: 10px;
}

.close-icon {
  width: 9.334px;
  height: 9.334px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  fill: var(--Error, #ec2a2a);
}

.close-btn {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--Border-50, #efefef);
  background: var(--Surface-white, #fff);
}

.tick-btn {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--Border-50, #efefef);
  background: var(--Surface-white, #fff);
}

.tick-icon {
  width: 14px;
  height: 10.111px;
  flex-shrink: 0;
  fill: var(--Secondary, #2eb65c);
}

.remove-button {
  border: none;
  background: transparent;
}
.remove-item {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
}

.add-prescription-btn {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 0 0 8px 8px;
  background: #fff;
  border: 1px solid var(--Border-50, #efefef);
  margin-bottom: 20px;
  color: #353535;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.add-prescription-btn:hover {
  background: #f0f8ff;
}

.medications-container {
  display: flex;
  flex-direction: column;
}

.med-input {
  width: 100%;
  padding: 4px 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 13px;
  min-width: 70px;
  max-width: 120px;
}

.med-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.td-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  font: inherit;
}

.dropdown-btn {
  display: flex;
  height: 38px;
  padding: 11px 12px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  color: var(--Text-primary, #1c1c1c);
  font-size: var(--Fontsize-body-md, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Lineheight-body-md, 20px);
  border-radius: 8px;
  border: 1.054px solid var(--Border-Primary-100, #efefef);
  background: #fff;
  box-shadow: 0 4px 24px 0 rgba(201, 201, 201, 0.25);
}

.download-btn:disabled {
  background: #93c5fd;
  cursor: not-allowed;
}

.down-arrow {
  width: 14px;
  height: 14px;
  margin-left: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  border-radius: 8px;
  border: 1.054px solid var(--Border-Primary-100, #efefef);
  background: #fff;
  box-shadow: 0 4px 24px 0 rgba(201, 201, 201, 0.25);
  min-width: 160px;
}

.dropdown-item {
  color: #000;
  font-size: var(--Fontsize-body-md, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Lineheight-body-md, 20px);
  padding: 8px 12px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

.chevron-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.chevron-icon {
  width: 12px;
  height: 12px;
}
.dropdown-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  list-style: none;
  border-radius: 8px;
  border: 1.054px solid var(--Border-Primary-100, #efefef);
  background: #fff;
  box-shadow: 0 4px 24px 0 rgba(201, 201, 201, 0.25);
  min-width: 160px;
}
.dropdown ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.dropdown-submenu li {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.dropdown-submenu li:hover {
  background: #eaeaea;
}

.frequency-with {
  width: 208px;
}

.card-conversations {
  display: flex;
  height: 53%;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #eaf4ff;
  background: #fff;
  box-shadow: 0 4px 14px -1px #e5f1ff;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.download-btn {
  width: 154px;
  background: #007bff;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-text {
  color: var(--Text-Button-text, #fff);
  font-family: var(--Type-Font-family-Primary, Inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--Lineheight-body-lg, 24px); /* 171.429% */
}

.download-btn:hover {
  background: #0056b3;
}

.download-dropdown-menu {
  position: absolute;
  width: 154px;
  top: 100%;
  left: 0;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 5px 0 0;
  padding: 6px 0;
  z-index: 1000;
}

.download-dropdown-menu li {
  padding: 10px 16px;
  cursor: pointer;
  color: #000;
  font-size: var(--Fontsize-body-md, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Lineheight-body-md, 20px);
}

.download-dropdown-menu li:hover {
  background: #f1f1f1;
}

.arrow {
  margin-left: 6px;
  font-size: 0.8rem;
}

.report-component {
  display: flex;
  gap: 20px;
}

.report-component-margin {
  margin: 20px;
}

.card-conversations.mini {
  height: auto;
  width: 43%;
}

.header-card {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border: 1px solid var(--Border-50, #efefef);
  background-color: white;
  justify-content: space-between;

  h2 {
    margin: 0;
    color: #1c1c1c;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.report-close-btn {
  width: 32px;
  height: 32px;
  font-size: 35px;
  cursor: pointer;
  color: #aaa;
  border: none;
  background: none;
  display: flex;
  align-items: center;
}

.report-close-btn:hover {
  color: black;
  transform: translateY(-1px);
  transition: transform 0.15s ease-out;
}
