.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.conversation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.conversation-title {
  color: #1c1c1c;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.report-btn-outline {
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #0066d4;
  cursor: pointer;
  background: #fff;
}

.report-btn {
  color: #0066d4;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.conversation-audio {
  height: auto;
  max-height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-control {
  border-radius: 8px 0 0 8px;
  border: 1px solid #f3f9ff;
  background: #fff;
  display: flex;
  min-width: 18%;
  width: 26%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.control {
  display: flex;
  align-items: center;
  gap: 13.333px;
}

.control img {
  cursor: pointer;
  width: 19px;
  height: 19px;
}

.wave-animation {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: clip;
  border-radius: 0 8px 8px 0;
  padding: 0.446px 0;
  background: #f3f9ff;
}

.wave-animation img {
  width: 100%;
  object-fit: fill;
  border-radius: 6px;
  height: 100%;
  max-height: 50px;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.message.doctor {
  background: #e6f4ff;
}

.message.patient {
  align-items: flex-end;
}

.conv-text {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 0 16px 16px 16px;
  background: var(--Background-chat, #e6f2ff);
  color: #353535;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.conv-text.patient {
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 8px 0 8px 8px;
  background: #f5f5f5;
  text-align: right;
}
