.change-password-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.close-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  top: 6px;
  position: absolute;
  right: 20px;
  font-size: 35px;
  cursor: pointer;
  color: #aaa;
  border: none;
  background: none;
}
.close-button:hover {
  color: black;
}

.change-password-popup {
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 40px 40px 40px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 70%;
  top: 20%;
}

.input-group {
  margin-bottom: 20px;
  padding: 4px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  color: var(--Text-Text-Label, #6d6d6d);
  font-size: 16px;
  font-style: normal;
}

.input-group input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.password-wrapper {
  position: relative;
}

.password-wrapper button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.reset-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #06c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.reset-button:disabled {
  background-color: #91d8f7;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  position: absolute;
}
.error-message {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}
.modal-title {
  width: 100%;
  height: auto;
  font-style: normal;
}
@media (max-width: 575px) {
  .reset-button {
    margin-top: 15px;
  }
  .change-password-popup {
    padding: 25px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .reset-button {
    margin-top: 20px;
  }
  .change-password-popup {
    padding: 35px 35px 35px 35px;
  }
}
