.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  flex-shrink: 0;
  border-radius: 12px;
}

h2 {
  color: #1c1c1c;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1px;
}

form {
  display: flex;
  gap: 40px;
}

.form-right {
  flex: 1;
  gap: 30px;
  margin-left: 268px;
}

.form-group {
  margin-bottom: 21px;
}

label {
  color: var(--Text-light, #5a5a5a);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

input[type="text"] {
  display: flex;
  height: 10px;
  padding: 16px 16px 16px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: var(--Background-White, #fff);
  width: 286px;
}
textarea {
  display: flex;
  padding: 16px 16px 16px 12px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #eee;
  background: var(--Background-White, #fff);
  width: 353px;
  height: 100px;
}

.input-phone-number {
  width: 234px !important;
}

textarea::placeholder {
  color: #c3c3c3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  resize: vertical;
}
.upload-box {
  width: 231px;
  height: 212px;
  flex-shrink: 0;
  border-radius: 3.663px;
  border: 0.916px dashed rgba(0, 102, 212, 0.3);
  background: #eef6ff;
  overflow: hidden;
  position: relative;
}
.optional {
  color: var(--Text-light, #5a5a5a);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}

.required {
  color: #fd1414;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 135%;
  margin-top: 581px;
  gap: 803px;
  margin-left: -959px;
}

.cancel-btn {
  display: flex;
  height: 42px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #eee;
  background: var(--bg-white, #fff);
  cursor: pointer;
}

.save-btn {
  display: flex;
  height: 42px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Primary-Colors, #0066d4);
  cursor: pointer;
  border: none;
  color: var(--Text-Text-white, #fff);
}
small {
  color: var(--Colors-Text-Colors-Text-Label, #6d6d6d);
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.upload-icon {
  align-items: center;
  width: 64px;
  height: 55px;
  display: flex;
  margin-top: 39px;
  margin-left: 84px;
}

.error-image-upload,
.error {
  color: red;
  font-size: 12px;
  position: absolute;
}

.char-count {
  font-size: 11px;
  margin-left: 338px;
}

.hiddenFileInput {
  display: none;
}
.trashIcon {
  width: 89px;
  height: 20px;
}
.delete-icon {
  position: absolute;
  top: 158px;
  left: 1278px;
  cursor: pointer;
}
.dragAndDrop {
  padding: 8.96px;
  color: #0f0f0f;
  font-size: 12.673px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 7px;
}
.supportedText {
  padding: 3.96px;
  color: #676767;
  font-size: 10.505px;
  font-weight: 400;
  line-height: 14.257px;
  margin-left: 29px;
}
.imagePreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.previewImage {
  border-radius: 3px;
  width: 231px;
  height: 212px;
  object-fit: cover;
}
.phone-container {
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--Border-Primary-100, #efefef);
  overflow: hidden;
}

.phone-container input {
  flex: 1;
  border: none;
  border-radius: 4px;
  padding: 16px 18px;
}
.country-code {
  border: none;
  border-radius: 4px;
  padding: 13px 12px;
  width: fit-content;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("@/assets/settings/Alt-Arrow-Down.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 19px;
  padding-right: 30px;
}
.browseText {
  color: #0066d4;
  font-size: 12.673px;
  font-weight: 700;
  line-height: 19.01px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  cursor: pointer;
}
