
.error-message {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #ffdfdd;
  position: absolute;
  top: 205px;
}

.error-message span {
  color: var(--Colors-Text-Colors-Text-Primary, #1c1c1c);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.background-white{
  background: white;
}

.bold-essentional-ui-check,
.bold-essentional-ui-error {
  width: 21px;
  height: 21px;
}

.profile-updated-successfully {
  position: relative;
  line-height: 150%;
  width: 87%;
  font-size: 12px;
  color: #1c1c1c;
  flex-grow: 1;
}

.icon {
  width: 19%;
  position: relative;
  height: 17.5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: -61px
}

.profile-update.errorUpdate {
  background-color: #ffeaea;
}

.profile-update.success {
  background-color: #edf8ed;
}

.profile-update {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  width: 89%;
  padding: 10px;
  border-radius: 4px
}

.toast {
  position: absolute;
  right: 34%;
  top: 14%;
  width: 22%;
}

.dob-picker[value]::-webkit-datetime-edit-fields-wrapper {
  color: black;
}

.dob-picker[value]::-webkit-datetime-edit-text,
.dob-picker[value]::-webkit-datetime-edit-month-field,
.dob-picker[value]::-webkit-datetime-edit-day-field,
.dob-picker[value]::-webkit-datetime-edit-year-field {
  color: black;
}

.dob-picker:focus::-webkit-datetime-edit {
  color: black;
}

.dob-picker::-webkit-datetime-edit-fields-wrapper {
  color: black;
}

.dob-picker::-webkit-datetime-edit {
  color: transparent;
}

.dob-picker::-webkit-datetime-edit-text {
  text-transform: lowercase;
  color: #757575;
}

.dob-picker::-webkit-datetime-edit-month-field {
  text-transform: lowercase;
  color: #757575;
}

.dob-picker::-webkit-datetime-edit-day-field {
  text-transform: lowercase;
  color: #757575;
  font-size: 2px;
}

.dob-picker::-webkit-datetime-edit-year-field {
  text-transform: lowercase;
  color: #757575;
}

@-moz-document url-prefix() {
  .dob-picker {
    color: #999;
  }

  .dob-picker[value] {
    color: #333;
  }
}

.profile-management {
  display: flex;
  flex-direction: column;
  background: #f3f9ff;
  margin-left: 80px;
  margin-top: 0;
  width: auto;
  height: auto;
}

.my-profile-title {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding-left: 17px;
}

.my-profile-title h2 {
  color: #263238;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.profile-container {
  display: flex;
  margin-top: 10px;
  gap: 16px;
  flex-wrap: wrap;
}

.profile-card {
  position: relative;
  margin-left: 3%;
  width: 212px;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.profile-top {
  width: 212.001px;
  height: 116.484px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #003482;
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile-info {
  width: 210.001px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Colors-Status-Colours-Primary-Main, #007aff);
  background: var(--bg-white, #fff);
  position: absolute;
  top: 65px;
}

.profile-form {
  display: flex;
  width: 67%;
  height: auto;
  padding: 20px;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: normal;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--bg-white, #fff);
  margin-bottom: 2%;
}

.pers-details-title h3 {
  color: #1c1c1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: -18px;
  top: 177px;
}

.form-group label {
  color: var(--Text-light, #5a5a5a);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  gap: 4px;
}

.tit-and-fullName,
.gen-and-dob,
.med-and-spec {
  display: flex;
  gap: 30px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.form-group>select {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  width: 300px;
  height: 48px;
  color: var(--Colors-Text-Colors-Text-Primary, #1c1c1c);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: 1px solid #eee;
  border-radius: 4px;
  background: var(--bg-white, #fff);
  appearance: none;
  background-image: url("@/assets/icons/alt-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

.form-group>input {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  width: 300px;
  height: 48px;
  color: var(--Colors-Text-Colors-Text-Primary, #1c1c1c);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--bg-white, #fff);
}

.form-group select,
input {
  outline: none;
}

#title option,
select {
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.dob-picker::-webkit-calendar-picker-icon {
  display: none;
}

.dob-picker::-webkit-clear-button {
  display: none;
}

.tit-and-fullName .form-group {
  content: "";
}

#title option,
select:focus {
  outline: none;
}

#gender option,
select {
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  outline: none;

}

#medCred option,
select {
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  outline: none;

}

.button-group {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.cancel-btn {
  display: flex;
  height: 42px;
  padding: 8px 20px;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #eee;
  background: var(--bg-white, #fff);
  cursor: pointer;
}

.delete-btn {
  display: flex;
  height: 42px;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: 1px solid red;
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
}

.save-btn {
  display: flex;
  height: 42px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Primary-Colors, #0066d4);
  cursor: pointer;
  border: none;
  color: var(--Text-Text-white, var(--bg-white, #fff));
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}


input[type="date"]::placeholder {
  color: transparent;
}

.profile-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 139.16px;
  flex-shrink: 0;
  align-items: center;
  width: 212px;
  bottom: 83px;
  overflow-x: clip;
}

.profile-content h3 {
  color: var(--Colors-Text-Colors-Text-Primary, #1c1c1c);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: inherit;
}

.profile-content p {
  color: var(--Colors-Text-Colors-Text-Secondary, #666);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: -12px;
  text-align: center;
  width: 200px;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: inherit;
}

.profile-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
}

.placeholder-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  background-color: #e0e0e0;
  border-radius: 50%;
  background-image: url("@/assets/profile/user_icon.svg");
  background-size: cover;
}

.edit-icon {
  position: absolute;
  right: 66px;
  bottom: 61px;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.form-group>select>option {
  display: flex;
  width: 300px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Colors-Border-Colors-Border-light, #eef2f7);
  background: var(--bg-white, #fff);
  box-shadow: 0px 4px 12px 0px #e3ecfb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 75px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20.25px;
  flex-shrink: 0;
  position: absolute;
  right: 10px;
  background-image: url("@/assets/profile/calendar.svg");
}

.custom-select::-ms-expand {
  display: none;
}

.prof-details-title {
  margin-top: 32px;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

.header-section {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 40px;
  border-bottom: 1px solid #ddd;
  width: calc(100% - 80px);
  margin-left: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.doctor-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 22px;
  cursor: pointer;
  object-fit: cover;
}

.container {
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

.error-image-upload {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 42%;
}

.form-container {
  max-width: 100%;
}

.personal-details-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.try-Width {

  width: 25px !important;

}

.second-btn-grp {
  display: flex;
}

@media (max-width: 575px) {
  .second-btn-grp {
    margin-top: 20px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .profile-form {
    margin-left: 3%;
    width: 90%;
  }
}

@media screen and (max-width: 760px) {
  .profile-form {
    margin-left: 3%;
    margin-right: 3%;
    width: 80%;
  }

  .form-container {
    width: 85%;
  }

  .form-group {
    width: 100%;
  }

  .form-group>select {
    width: 100%;
  }

  .form-group>input {
    width: 100%;
  }
}