.parent-container {
  height: 100vh;
  position: relative;
}
.header-section {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 40px;
  border-bottom: 1px solid #ddd;
  width: calc(100% - 80px);
  margin-left: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.doctor-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 22px;
  cursor: pointer;
  object-fit: cover;
}
.doctor-info-icon {
  width: 24px;
  height: 26px;
  filter: brightness(0) invert(20%);
}

.frame {
  align-items: flex-start;
  border-radius: 12px;
  background: var(--bg-white, #fff);
  box-shadow: 0px 4px 14px -1px #e5f1ff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 19px 30px;
  position: relative;
  width: 93%;
  margin-top: 10px;
  margin-left: 22px;
}

.frame .frame-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 136px;
  position: relative;
  width: 100%;
}

.frame .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.frame .div {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
  width: 100%;
}

.frame .text-wrapper {
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.main-content {
  display: flex;
  flex-direction: column;
  background: #f3f9ff;
  margin-top: 0;
}

.panelframe {
  display: flex;
  flex-direction: row;
}

.sidepanel {
  display: flex;
  width: 300px;
  height: auto;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--bg-white, #fff);
  margin-left: 22px;
  margin-top: 1%;
}
.hospital {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hospital-info {
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 19px;
  cursor: pointer;
}
.doctor-info {
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-left: 19px;
}
.legal-info {
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 19px;
  cursor: pointer;
}
.menu-item {
  display: flex;
  width: 298px;
  align-items: center;
  justify-content: space-between;
}
.arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
}
hr {
  width: 296.002px;
  height: 1px;
  background: #e3e9f1;
  border: none;
  margin-top: 1px;
}
.content-panel {
  display: flex;
  width: 996px;
  padding: 18px 21px;
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  margin-left: 23px;
  margin-top: 16px;
}
.bold {
  font-weight: 700;
}

.active .doctor-info,
.active .legal-info,
.active .hospital-info {
  font-weight: 700;
}

.toast {
  position: absolute;
  right: 34%;
  top: 14%;
  width: 22%;
}

.profile-updated-successfully {
  position: relative;
  line-height: 150%;
  width: 87%;
  font-size: 12px;
  color: #1c1c1c;
  flex-grow: 1;
}

.profile-update.errorUpdate {
  background-color: #ffeaea;
}
.profile-update.success {
  background-color: #edf8ed;
}
.profile-update {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding: 10px;
  border-radius: 4px;
  position: relative;
}

.bold-essentional-ui-check,
.bold-essentional-ui-error {
  width: 21px;
  height: 21px;
}

.image-delete-icon {
  border: 0;
  background: none;
  cursor: pointer;
  padding-top: 2px;
}

.menu-content {
  display: flex;
  align-items: center;
  gap: 0;
}
