.fee {
  height: 100vh;
  background-color: #f5f7fb;
  overflow-y: auto;
  position: relative;
}

.fee__sidebar {
  width: 80px;
  position: fixed;
  height: 100vh;
  background-color: #1a1f36;
}

.fee__content {
  flex: 1;
  margin-left: 80px;
}

.fee-content {
  align-items: flex-start;
  background-color: #f7fbff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 80px 80px;
  position: relative;
}

.notification-title {
  margin: 0px;
}

.title-text {
  align-self: stretch;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin: -1px 0 0 0; 
  position: relative;
}

.subtitle-text {
  align-self: stretch;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  margin: 0px;
}

.fee-pricing {
  align-items: center;
  border-radius: 3.44px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.fee__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 29px;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 1000;
  gap: 30px;
}

.fee__header-title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1c1c1c;
}

.fee__header-title h1 {
  margin: 0px;
}

.fee__header-title a:hover{
  color: black;
  font-weight: 600;
}

.fee__header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fee__user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.fee__billing {
  align-items: center;
  display: flex;
  gap: 660px;
  justify-content: center;
  position: relative;
  margin: 10px 15px;
}

.fee__header-title1 {
  align-items: flex-start;
  display: flex;
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.pricing-title {
  letter-spacing: 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.plan-expired-notification {
  padding: 20px;

  display: grid;
  flex-direction: row;
  align-items: center;
  max-width: 1240px;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  margin-inline: auto;
  border-radius: 16px;
  border: 1px solid #ec9112;
  background: #fffbf3;
}

.plan-expired-notification p {
  color: var(--Text-Primary, #1c1c1c);
  margin: 0px;
}
.plan-expired-notification h3 {
  margin: 0px;
  color: var(--Text-Primary, #1c1c1c);
}
.plan-expired-notification-content {
  display: flex;
  align-items: center;
  flex: 1;
  flex-grow: 1;
  gap: 16px;
}
.plan-expired-notification-text {
  display: flex;
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
}

.fee-frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.fee-frame1 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 16px;
  position: relative;
}

.fee__billing-option {
  flex: 1;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: black;
}

.fee__billing-option--active {
  color: white;
}

.feature-value {
  color: #1c1c1c;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
}
.fee__switch {
  position: relative;
  display: flex;
  background: var(--Surface-Background-Grey, #efefef);
  border-radius: 94.41px;
  width: 200px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

.fee__switch-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.fee__switch-slider {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 97px;
  height: 41px;
  background: #0066d4;
  border-radius: 94.41px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.fee__switch-input:checked + .fee__switch-slider {
  transform: translateX(100px);
}

.fee__plans {
  margin: 30px auto;
  width: 100%;
  margin-bottom: 0px;
}

.fee__plans-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 405px));
  gap: 25px;
  justify-content: center;
  margin-inline: auto;
  max-width: 1240px;
}

.plan {
  height: auto;
  padding: 50px 0 37px 0;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.plan__details {
  display: flex;
  flex-direction: column;
  padding: 0px 20.67px;
}

.plan__title {
  color: #1c1c1c;
  letter-spacing: 0;
  line-height: normal;
  margin: 0px;
  position: relative;
}

.plan__price {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 95px;
}

.enterprice-plan__price {
  color: #1c1c1c;
  position: relative;
}

.plan__amount,
.plan__currency {
  color: #1c1c1c;
  position: relative;
}

.plan__period {
  color: #595959;
  position: relative;
}

.plan__cta {
  background: white;
  color: #0066d4;
  align-items: center;
  border: 1.29px solid #0066d4;
  border-radius: 3.44px;
  gap: 3.44px;
  height: 37.89px;
  justify-content: center;
  padding: 5.17px 10.33px;
  width: 100%;
}

.plan__cta:hover {
  font-weight: 800;
  cursor: pointer;
}

.plan__features {
  list-style: none;
  padding: 15px 20.67px 24px;
  margin: 0;
  text-align: left;
}

.plan__feature {
  height: 28px;
  margin: 23px 0;
  padding-left: 0;
  position: relative;
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
}

.plan__feature--included::before,
.plan__feature--excluded::before {
  content: none;
}

.plan-include {
  padding-left: 8px;
  color: #1c1c1c;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  margin-top: -0.86px;
  flex: 1;
}

.plan-exclude {
  color: #595959;
}

.plan-button {
  padding: 30px 20.67px 0px;
  margin-bottom: 0px;
}
.plan--current {
  background: #0066d4;
}

.plan--current .plan__title,
.plan--current .plan__currency,
.plan--current .plan__amount,
.plan--current .plan__period,
.plan--current .tooltip,
.plan--current .feature-value,
.plan--current .plan-include,
.plan--current .enterprice-plan__price {
  color: #ffffff;
}

.plan--current .plan__current-label {
  align-items: center;
  background-color: #ffffff4c;
  border-radius: 20px;
  display: flex;
  gap: 3.44px;
  height: 37.89px;
  justify-content: center;
  position: relative;
  color: #ffffff;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding-left: 8px;
  color: #1c1c1c;
}

.tooltip .tooltiptext {
  font-family: Lato, sans-serif;
  font-size: 10px;
  font-weight: 200;
  line-height: 1.5;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 4px;
  visibility: hidden;
  width: 220px;
  background-color: #e5f1fb;
  color: black;
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #e5f1fb transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fee__user-menu {
  position: fixed;
  right: 46px;
  top: 22px;
}

button:disabled {
  background: #f6f6f6;
  color: #7e7e7e;
  cursor: not-allowed;
  opacity: 0.7;
  border: none;
}

button:disabled:hover {
  background: #f6f6f6;
  color: #7e7e7e;
  cursor: not-allowed;
  opacity: 0.7;
  border: none;
}

.disclaimer {
  height: 28px;
  width: 1240px;
}

.disclaimer .server-costs {
  color: #595959;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0%;
  left: 0;
  top: 0;
  width: 1240px;
}

.label {
  width: 118px;
  height: 24px;
}

.app-name {
  color: #163666;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.label:hover {
  transform: translateY(-1px);
  transition: transform 0.15s ease-out;
}

@media (max-width: 1200px) {
  .fee__plans {
    padding: 0 20px;
  }

  .fee__plans-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .plan__details {
    width: auto;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .fee__content {
    margin-left: 0;
  }

  .fee__header {
    padding: 20px;
  }

  .fee__plans {
    padding: 0 15px;
    margin: 20px 15px;
  }

  .plan {
    padding: 30px 20px;
  }
}
